<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Rest API Notes App</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<div class="container pt-3" id="app" v-cloak>
    <h1>Rest API Notes</h1>

    <form class="form-inline mb-3" @submit.prevent="createNote">
        <div class="form-group mr-5">
            <label for="title" class="mr-2">Title</label>
            <input type="text" class="form-control" id="title" v-model="form.title" placeholder="Note Title">
        </div>
        <div class="form-group mr-3">
            <label for="desc" class="mr-2">Description</label>
            <input type="text" class="form-control" id="desc" v-model="form.desc" placeholder="Note Description">
        </div>
        <div class="mr-5">
            <button class="btn btn-primary" type="submit" :disabled="!canCreate">Add</button>
        </div>
        </span>
    </form>

    <div class="my-4">
        <input type="text" v-model="search" placeholder="Search Notes" class="form-control">
    </div>

    <div v-if="loading">
        <loader></loader>
    </div>

    <div v-else>
        <div v-if="filteredNotes.length === 0">
            No notes found.
        </div>
        <div v-else>
            <div class="card mb-3" v-for="note in notes">
                <div class="card-body" :style="{background: note.marked ? '#F5FFFA' : 'white'}">
                    <h5 class="card-title" :style="{color: note.marked ? 'red' : 'black'}">{{note.title}}</h5>
                    <p class="card-text">{{note.desc}}</p>
                    <button class="btn btn-primary" @click="markNote(note.id)" :disabled="note.marked">Mark as important</button>
                    <button class="btn btn-primary" @click="disMarkNote(note.id)" :disabled="!note.marked">Dismark as important</button>
                    <button class="btn btn-danger" @click="removeNote(note.id)">Delete</button>
                </div>
            </div>
        </div>
<!--    <p v-else>There are no notes</p>-->
    </div>
</div>>
<script type="module" src="front.js"></script>
</body>
</html>